.paginationContainer{
    display: flex;
    justify-content: center;
    padding: 8px 0px;
}

.paginationButton {
    padding: 8px 16px;
    margin: 8px 16px;
    border: 1px solid #dcdcdc;
    background-color: #f9f9f9; 
    color: #555; 
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.paginationButton:disabled {
    background-color: #f2f2f2;
    color: #b3b3b3; 
    border-color: #e0e0e0;
    cursor: not-allowed;
    box-shadow: none;
}